@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap');

h1, li, .username, button, input{
  font-family: 'Kufam', cursive;
}

body{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  background: rgb(216, 215, 210);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background:rgb(68, 111, 189);
  color:rgb(216, 215, 210);
  height: 20vh;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  margin-bottom: 30px;
}

input{
  height: 36px;
  width: 40%;
  border-radius: 20px;
  border: 2px solid black;
  margin-right: 20px;
  outline: none;
  font-size: 17px;
  color:rgb(68, 111, 189);
}

input:hover{
  background:rgb(68, 111, 189);
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: white;
}

button{
  width: 10%;
  height: 36px;
  border-radius: 20px;
  outline: none;
  border: 2px solid black;
  color: rgb(68, 111, 189);
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background: rgb(68, 111, 189);
  color:rgb(216, 215, 210);
}

.Message-container{
  display: flex;
}

li{
  list-style: none;
}

.username{
  padding-left: 10px;
  color: rgb(68, 111, 189);
  text-transform: uppercase;
}

.text{
  background: #999;
  max-width: 200px;
  padding: 10px;
  word-wrap: break-word;
  text-align:left;
  border-radius: 10px;
  margin: 20px 0px;
  color: white;
}

.Messages.currentMember {
  display: flex;
  flex-direction: row-reverse;
}

.Messages {
  display: flex;
}

.currentMember .text {
  background:rgb(68, 111, 189);
}

.Messages-list {
  padding: 20px 30px;
  flex-grow: 1;
  overflow: auto;
}

@media(max-width: 768px){
  input{
    width: 50%;
  }
  button{
    width: 20%;
  }
}
